---
import SubpageLayout from "../../layouts/subpageLayout.astro";
import "../../styles/animations.css";

let weatherData = {
  temp: 23,
  description: "sunny",
  fahrenheit: 73,
};

try {
  const response = await fetch("https://wttr.in/Wuhan?format=j1");
  const data = await response.json();

  const temp = parseInt(data.current_condition[0].temp_C);
  const description =
    data.current_condition[0].weatherDesc[0].value.toLowerCase();
  const fahrenheit = parseInt(data.current_condition[0].temp_F);

  weatherData = {
    temp,
    description,
    fahrenheit,
  };
} catch (error) {
  console.error("Failed to fetch weather:", error);
  // 使用默认数据
}
---

<SubpageLayout
  title="about"
  titleColor="bg-red-500"
  borderColor="border-red-500"
>
  <div class="w-full flex flex-col justify-center align-center gap-8">
    <div class="flex flex-col justify-center items-center align-center mb-8">
      <p>hello! i'm</p>
      <p
        class="text-4xl font-black font-martian-mono font-stretch-50% underline hover:text-pink-500 hover:font-stretch-125% transition-all duration-300"
      >
        rinki
      </p>
    </div>
    <div
      class="rect-svg-container flex flex-col text-white justify-center items-center h-[180px]"
    >
      <div class="flex flex-row w-[360px] h-[180px] p-8">
        <div class="flex flex-col flex-none">
          <p class="flex-none leading-tight">the weather</p>
          <p class="flex-none leading-tight">in my city now</p>
          <div class="flex-1"></div>
          <p class="flex-none">wuhan</p>
        </div>
        <div class="flex flex-col flex-1 justify-center items-end">
          <div class="flex flex-row">
            <p
              class="text-6xl font-black font-martian-mono hover:font-light transform-all duration-300"
              id="celsius"
            >
              {weatherData.temp}
            </p>
            <p class="text-xl font-martian-mono">°C</p>
          </div>
          <p class="font-martian-mono">
            (<span id="fahrenheit">{weatherData.fahrenheit}</span>°F)
          </p>
          <div class="flex-1"></div>
          <p class="italic">{weatherData.description}</p>
        </div>
      </div>
    </div>
    <div
      class="star-svg-container flex flex-col text-white justify-center items-center align-center h-[370px]"
    >
      <p>i'm currently in my</p>
      <p
        class="text-4xl font-black font-martian-mono hover:font-light transform-all duration-300"
      >
        sophomore
      </p>
      <p>year</p>
    </div>
    <div
      class="bun-svg-container flex flex-col text-white justify-center items-center align-center h-[320px]"
    >
      <p>and i'm majoring in</p>
      <p
        class="text-4xl font-black font-martian-mono hover:font-light transform-all duration-300"
      >
        software
      </p>
      <p
        class="text-4xl font-black font-martian-mono hover:font-light transform-all duration-300"
      >
        engineering
      </p>
    </div>
    <div
      class="flower-svg-container flex flex-col text-white justify-center items-center align-center h-[420px]"
    >
      <p>i like</p>
      <p
        class="text-4xl font-black font-martian-mono trimmed-text hover:font-light transform-all duration-300"
      >
        food
      </p>
      <p
        class="text-4xl font-black font-martian-mono trimmed-text hover:font-light transform-all duration-300"
      >
        music
      </p>
      <p
        class="text-4xl font-black font-martian-mono trimmed-text hover:font-light transform-all duration-300"
      >
        photography
      </p>
      <p
        class="text-4xl font-black font-martian-mono trimmed-text hover:font-light transform-all duration-300"
      >
        design
      </p>
      <p
        class="text-4xl font-black font-martian-mono trimmed-text hover:font-light transform-all duration-300"
      >
        coffee
      </p>
      <p>& all kinds of stuff</p>
    </div>
  </div>

  <style>
    .rect-svg-container::before {
      content: "";
      position: absolute;
      width: 360px;
      height: 180px;
      background-image: url("data:image/svg+xml,%3Csvg width='360' height='180' viewBox='0 0 360 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='360' height='180' rx='60' fill='oklch(62.3%25%200.214%20259.815)'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      animation: pulse 12s cubic-bezier(0.2, 0, 0, 1) infinite;
      z-index: -1;
    }

    .star-svg-container::before {
      content: "";
      position: absolute;
      width: 360px;
      height: 370px;
      background-image: url("data:image/svg+xml,%3Csvg width='360' height='370' viewBox='0 0 360 370' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M163.291 9.13874C170.98 -3.04624 189.02 -3.04625 196.709 9.13872L215.142 38.3465C220.198 46.3574 230.397 49.6143 239.278 46.0539L271.659 33.0726C285.168 27.657 299.761 38.0778 298.695 52.3779L296.139 86.6558C295.438 96.0573 301.742 104.584 311.056 106.834L345.017 115.038C359.184 118.46 364.759 135.321 355.343 146.274L332.775 172.529C326.585 179.73 326.585 190.27 332.775 197.471L355.343 223.726C364.759 234.679 359.184 251.54 345.017 254.962L311.056 263.166C301.742 265.416 295.438 273.943 296.139 283.344L298.695 317.622C299.761 331.922 285.168 342.343 271.659 336.927L239.278 323.946C230.397 320.386 220.198 323.643 215.142 331.653L196.709 360.861C189.02 373.046 170.98 373.046 163.291 360.861L144.858 331.653C139.802 323.643 129.603 320.386 120.722 323.946L88.3411 336.927C74.8325 342.343 60.2386 331.922 61.3048 317.622L63.8605 283.344C64.5615 273.943 58.2581 265.416 48.9438 263.166L14.9835 254.962C0.815838 251.54 -4.75855 234.679 4.65649 223.726L27.2246 197.471C33.4145 190.27 33.4145 179.73 27.2246 172.529L4.6565 146.274C-4.75854 135.321 0.815815 118.46 14.9835 115.038L48.9438 106.834C58.2581 104.584 64.5615 96.0573 63.8605 86.6558L61.3048 52.3779C60.2386 38.0778 74.8324 27.657 88.3411 33.0726L120.722 46.0539C129.603 49.6143 139.802 46.3574 144.858 38.3465L163.291 9.13874Z' fill='oklch(72.3%25%200.219%20149.579)'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      animation: slow-spin 6s cubic-bezier(0.2, 0, 0, 1) infinite;
      z-index: -1;
    }

    .bun-svg-container::before {
      content: "";
      position: absolute;
      width: 360px;
      height: 320px;
      background-image: url("data:image/svg+xml,%3Csvg width='360' height='320' viewBox='0 0 360 320' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M270 0C319.706 0 360 40.2944 360 90C360 118.273 346.962 143.5 326.571 160C346.962 176.5 360 201.727 360 230C360 279.706 319.706 320 270 320H90C40.2944 320 0 279.706 0 230C0 201.727 13.0374 176.5 33.4277 160C13.0374 143.5 0 118.273 0 90C0 40.2944 40.2944 0 90 0H270Z' fill='oklch(79.5%25%200.184%2086.047)'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      animation: squeeze 3s cubic-bezier(0.2, 0, 0, 1) infinite;
      z-index: -1;
    }

    .flower-svg-container::before {
      content: "";
      position: absolute;
      width: 360px;
      height: 360px;
      background-image: url("data:image/svg+xml,%3Csvg width='360' height='360' viewBox='0 0 360 360' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M250.525 0C310.986 0 360 49.0137 360 109.475C360 136.343 350.319 160.949 334.258 179.999C350.32 199.049 360 223.657 360 250.525C360 310.986 310.986 360 250.525 360C223.657 360 199.049 350.32 179.999 334.258C160.949 350.319 136.343 360 109.475 360C49.0137 360 0 310.986 0 250.525C7.87916e-05 223.657 9.67919 199.049 25.7412 179.999C9.67975 160.949 0.000100804 136.342 0 109.475C0 49.0137 49.0137 0 109.475 0C136.342 0.000100778 160.949 9.67975 179.999 25.7412C199.049 9.67919 223.657 7.88121e-05 250.525 0Z' fill='oklch(62.7%25%200.265%20303.9)'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      animation: slow-spin 9s cubic-bezier(0.2, 0, 0, 1) infinite;
      z-index: -1;
    }
  </style>
</SubpageLayout>
